body {
    background-color: var(--background-light);
    color: var(--text-light);
    font-family: var(--font-family);
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: var(--body-dark);
    color: var(--text-dark);
}

h2, .Title-offers, .Title-inspiration {
    color: var(--text-light);
    font-family: var(--font-family-inter);
    font-size: 1.75rem;
    font-weight: 500;
}

body.dark h2, body.dark .Title-offers, body.dark .Title-inspiration {
    color: var(--text-dark);
}

.second-inspiration {
    font-family: var(--font-family-inter);
    font-size: 1rem;
    margin: 0.5rem 0 0 2.75rem;
}

.footer-title, .title-question {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-light);
    margin: 3rem 0 4rem 0;
}

body.dark .footer-title, body.dark .title-question {
    color: var(--text-dark);
}

.price {
    color: var(--price-color-light);
    font-family: var(--font-family-inter);
    font-size: 1.25rem;
    font-weight: 500;
}

body.dark .price {
    color: var(--price-color-dark);
}

.delivery {
    color: var(--delivery-color-light);
    font-family: var(--font-family-inter);
    font-size: 0.5625rem;
    font-weight: 500;
    margin-top: 0.625rem;
}

body.dark .delivery {
    color: var(--delivery-color-dark);
}

.warranty {
    color: var(--warranty-color-light);
    font-family: var(--font-family-inter);
    font-size: 0.625rem;
    font-weight: 500;
}

body.dark .warranty {
    color: var(--warranty-color-dark);
}

.occassion {
    color: #FFF;
    background: #412678;
    font-family: var(--font-family-inter);
    font-size: 0.625rem;
    font-weight: 500;
}

body.dark .occassion {
    background: #5a35a4;
}

.old-price, .info {
    color: gray;
    font-size: 0.5625rem;
}

.old-price {
    text-decoration: line-through;
}

.info {
    display: flex;
    align-items: center;
}

.paylater {
    color: var(--text-light);
    font-family: var(--font-family-inter);
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 1.25rem;
}

body.dark .paylater {
    color: var(--text-dark);
}

.up-section {
    background-color: var(--header-light);
}

body.dark .up-section {
    background-color: var(--header-dark);
}

.in-section a.logo {
    color: var(--primary-color);
}

body.dark .in-section a.logo {
    color: var(--secondary-color);
}

.search-container {
    background-color: var(--background-light);
}

body.dark .search-container {
    background-color: var(--background-dark);
}

.searchbar {
    background-color: var(--header-light);
    color: var(--text-light);
    border: 1px solid var(--border-light);
}

body.dark .searchbar {
    background-color: var(--header-dark);
    color: var(--text-dark);
    border: 1px solid var(--border-dark);
}

.searchbar::placeholder {
    color: var(--border-light);
}

body.dark .searchbar::placeholder {
    color: var(--border-dark);
}

.search-label, .category, .search-button, .user {
    color: var(--text-light);
}

body.dark .search-label, body.dark .category, body.dark .search-button, body.dark .user {
    color: var(--text-dark);
}

.icons img {
    filter: none;
}

body.dark .icons img {
    filter: brightness(0.8);
}

.cateallegro span, .wcag, .smart {
    color: var(--text-light);
}

body.dark .cateallegro span, body.dark .wcag, body.dark .smart {
    color: var(--text-dark);
}

.cateallegro img, .smart img {
    filter: none;
}

body.dark .cateallegro img, body.dark .smart img {
    filter: brightness(0.8);
}

.arrow-icon, .arrow-icon2 {
    filter: none;
}

body.dark .arrow-icon, body.dark .arrow-icon2 {
    filter: brightness(0.8);
}

.underheader {
    background-color: var(--header-light);
    color: var(--text-light);
}

body.dark .underheader {
    background-color: var(--header-dark);
    color: var(--text-dark);
}

.underheader .in-section {
    display: flex;
    align-items: center;
}

.category-under {
    color: var(--text-light);
    cursor: pointer;
}

body.dark .category-under {
    color: var(--text-dark);
}

.arrow-icon3 {
    filter: none;
}

body.dark .arrow-icon3 {
    filter: brightness(0.8);
}

.cateallegro span {
    color: var(--text-light);
    display: flex;
    align-items: center;
}

body.dark .cateallegro span {
    color: var(--text-dark);
}

.cateallegro img {
    filter: none;
}

body.dark .cateallegro img {
    filter: brightness(0.8);
}

.wcag {
    color: var(--text-light);
    background-color: var(--header-light);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

body.dark .wcag {
    color: var(--text-dark);
    background-color: var(--header-dark);
}

.smart {
    color: var(--text-light);
    font-weight: bold;
    display: flex;
    align-items: center;
}

body.dark .smart {
    color: var(--text-dark);
}

.smart img {
    filter: none;
    margin-left: 0.5rem;
}

body.dark .smart img {
    filter: brightness(0.8);
}

body.dark .offers, body.dark .section-second-offers, body.dark .under-center-section, body.dark .banner, body.dark .second-inspiration, body.dark .inspiration span, body.dark .questions-section, body.dark .footer, body.dark .end-section {
    background-color: var(--background-dark);
}

body.dark .banner.dots {
    background-color: var(--background-light);
}

body.light .second-inspiration {
    background-color: var(--background-light);
}
