<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtry</title>
    <link rel="stylesheet" href="Filters_CSS.css">
</head>
<body>
    <div class="container">
        <h1>Filters</h1>
        <button onclick="toggleFilters()">Filter</button>
<div id="filters" style="display: none;">
    <div id="nameFilter">
        <label for="nameSelect">Chose filters:</label>
        <select id="nameSelect" multiple>
            <option value="">--NONE--</option>
        </select>
    </div>
    <div id="salesProfitFilter">
        <label for="profitRange">Filter by profit:</label>
        <input type="number" id="profitMin" placeholder="Min" />
        <input type="number" id="profitMax" placeholder="Max" />
    </div>
    <button onclick="applyFilters()">Submit</button>
    <button onclick="clearFilters()">Clear</button>
</div>
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Employee ID</th>
                    <th>Purch Currency</th>
                    <th>Sales Profit</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="dataContainer"></div>
    </div>
    <script src="Filters_js.js"></script>
</body>
</html>
